venv/
bookscraper/bookscraper/__pycache__/
bookscraper/bookscraper/spiders/__pycache__/
bookscraper/bookscraper/scrapped_data/
bookscraper/bookscraper/settings.py
jobscrapper/jobscrapper/__pycache__/
jobscrapper/jobscrapper/spiders/__pycache__/
jobscrapper/jobscrapper/scrapped_data/
jobscrapper/jobscrapper/settings.py
